@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', Helvetica, sans-serif;
}

body {
    background-color: #ccc;
}

#stats {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/cau-hansen.jpg);
    background-size: cover;
    position: relative;
    
}

.gradient {
    background: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to top, rgba(0,0,0,0.9) 0, rgba(0,0,0,0) 60%, rgba(0,0,0,0.9)100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-stats {
    height: 90%;
    max-height: 1000px;
    width: 80%;
    max-width: 80%;
    min-width: 300px;
    box-shadow: 2px 2px 7px #ccccccb4;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.178);

    backdrop-filter: blur(10px);

    z-index: 1;
} 

.imgBox .fotoStats {
    width: 500px;
}

.statsBox {
    border-left: 3px solid #fff;
    padding: 1%;
}

.statsBox h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 2px 2px black;
}

.statsBox .stats {
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px 2px black;
}

.statsBox .info {
    font-size: 1.5rem;
    color: #fff;
}

.fotos-titulo {
    text-align: center;
    font-size: 4rem;

}

#fotos {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2d3436;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7) 0, rgba(0,0,0,0) 60%, rgba(0,0,0,0.7)100%);
}

#fotos .titulo-fotos {
    height: 10%;
}

#fotos .titulo-fotos h3 {
    color: #fff;
    font-size: 4rem;
}

#fotos img {
    max-width: 100%;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
}

.slider-wrapper {
    padding: 30px;
    height: 90%;
}

.splide__arrow {
    opacity: 1;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(194, 194, 0);
}

.splide__pagination {
    bottom: -1.5rem;
}

.slider-wrapper .splide__pagination__page.is-active {
    opacity: 1;
    background-color: rgb(194, 194, 0);
}

.splide__track {
    padding: .5rem;
}

#highlights {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2d3436;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7) 0, rgba(0,0,0,0) 60%, rgba(0,0,0,0.7)100%);
    gap: 1%;
}

.container-highlights h3 {
    color: #fff;
    font-size: 4rem;
}


#redes {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2d3436;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7) 0, rgba(0,0,0,0) 60%, rgba(0,0,0,0.7)100%);
}

#redes .titulo-redes {
    height: 20%;
    width: 100%;
}

#redes .titulo-redes  h3{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    margin-top: 4rem;
}

#redes .container-redes {
    height: 80%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#redes .container-redes .redes i {
    cursor: pointer;
    font-size: 3rem;
    color: #fff;
    transition: .4s;
}

#redes .container-redes .redes i:hover {
    scale: 1.2;
}

@media(max-width: 1280px){
    #stats .container-stats{
        max-height: 70%;
        min-width: 90%;
    }
    
    .imgBox .fotoStats {
        width: 320px;
    }
    
    .statsBox h1 {
        font-size: 3rem;
    }
    
    .statsBox .stats {
        font-size: 2rem;
    }
    
    .statsBox .info {
        font-size: 1.5rem;
        color: #fff;
    }

    #fotos .titulo-fotos h3{
        font-size: 3rem;
    }

    #highlights {
        height: 90vh;
        gap: 3%;
    }

    #highlights .tittle-highlights h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    #highlights .video {
        display: flex;
        justify-self: center;
        align-items: center;
        
    }
    
    iframe {
        width: 850px;
        height: 478px;
    }

    #redes .titulo-redes  h3{
        font-size: 3rem;
        margin-top: 4%;
    }
    
    #redes .container-redes {
        width: 20%;
    }
    
    #redes .container-redes .redes i {
        font-size: 2.5rem;
    }
}

@media(max-width: 768px){
    #stats .container-stats{
        max-height: 70%;
        min-width: 90%;
    }
    
    .imgBox {
        display: none;
    }
    
    .statsBox {
        border: 0;
        text-align: center;
    }

    .statsBox h1 {
        font-size: 2.5rem;
    }
    
    .statsBox .stats {
        font-size: 1.8rem;
    }
    
    .statsBox .info {
        font-size: 1.4rem;
        color: #fff;
    }

    #fotos .titulo-fotos h3{
        font-size: 2.5rem;
    }

    #highlights {
        height: 90vh;
        gap: 3%;
    }

    #highlights .tittle-highlights h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    #highlights .video {
        display: flex;
        justify-self: center;
        align-items: center;
        
    }
    
    iframe {
        width: 670px;
        height: 377px;
    }

    #redes .titulo-redes  h3{
        font-size: 2.5rem;
        margin-top: 10%;
    }
    
    #redes .container-redes {
        width: 40%;
    }
    
    #redes .container-redes .redes i {
        font-size: 2.5rem;
    }
}

@media(max-width: 425px){
    #stats .container-stats{
        min-height: 90%;
        min-width: 90%;
    }

    .imgBox {
        display: none;
    }

    .imgBox .fotoStats {
        width: 250px;
    }
    
    .statsBox {
        border-left: hidden;
        text-align: center;
    }
    
    .statsBox h1 {
        font-size: 2rem;
    }
    
    .statsBox .stats {
        font-size: 1.3rem;
    }
    
    .statsBox .info {
        font-size: 1rem;
        color: #fff;
    }

    #fotos .titulo-fotos h3{
        font-size: 2.5rem;
    }

    #highlights {
        height: 90vh;
        gap: 3%;
    }

    #highlights .tittle-highlights h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    #highlights .video {
        display: flex;
        justify-self: center;
        align-items: center;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    
    #redes .titulo-redes  h3{
        font-size: 2.5rem;
        margin-top: 10%;
    }
    
    #redes .container-redes {
        width: 40%;
    }
    
    #redes .container-redes .redes i {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 640px){
    .slider-wrapper .splide {
        padding: 0 1rem;
    }
}